body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.users{
    li{
        font-size: 1.4rem;
    }
    
    p{
        font-size: 1.2rem;
        margin: 5px;
    }
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;

    .add-btn{
        height: 30px;
        margin: 3px;
    }

    .title{
        height: 25px;
        width: 350px;
        margin: 5px;
    }
}

.users{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .user{
        background-color: rgb(179, 175, 175);
        padding: 55px;
        border-radius: 5px;
        width: 50%;
        margin: 10px;
        
    
    }
}


